@font-face {
  font-family: 'ak-class-icons';
  src:  url('400/ak-class-icons.eot');
  src:  url('400/ak-class-icons.eot') format('embedded-opentype'),
    url('400/ak-class-icons.ttf') format('truetype'),
    url('400/ak-class-icons.woff') format('woff'),
    url('400/ak-class-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ak-class-icons';
  src:  url('600/ak-class-icons.eot');
  src:  url('600/ak-class-icons.eot') format('embedded-opentype'),
    url('600/ak-class-icons.ttf') format('truetype'),
    url('600/ak-class-icons.woff') format('woff'),
    url('600/ak-class-icons.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

.ak-class {
  /* use !important to prevent issues with browser extensions that change font */
  font-family: 'ak-class-icons' !important;
  speak: never;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ak-solid {
  font-weight: bold !important;
}
.ak-regular {
  font-weight: normal !important;
}

.ak-Abjurer:before {
  content: "\e900";
}
.ak-Agent:before {
  content: "\e901";
}
.ak-Alchemist:before {
  content: "\e902";
}
.ak-Ambusher:before {
  content: "\e903";
}
.ak-Artificer:before {
  content: "\e904";
}
.ak-Artilleryman:before {
  content: "\e905";
}
.ak-Arts-Fighter:before {
  content: "\e906";
}
.ak-Arts-Protector:before {
  content: "\e907";
}
.ak-Bard:before {
  content: "\e908";
}
.ak-Besieger:before {
  content: "\e909";
}
.ak-Blast:before {
  content: "\e90a";
}
.ak-Caster:before {
  content: "\e90b";
}
.ak-Centurion:before {
  content: "\e90c";
}
.ak-Chain:before {
  content: "\e90d";
}
.ak-Chain-Healer:before {
  content: "\e90e";
}
.ak-Charger:before {
  content: "\e90f";
}
.ak-Core:before {
  content: "\e910";
}
.ak-Crusher:before {
  content: "\e911";
}
.ak-Deadeye:before {
  content: "\e912";
}
.ak-Decel-Binder:before {
  content: "\e913";
}
.ak-Defender:before {
  content: "\e914";
}
.ak-Dollkeeper:before {
  content: "\e915";
}
.ak-Dreadnought:before {
  content: "\e916";
}
.ak-Duelist:before {
  content: "\e917";
}
.ak-Earthshaker:before {
  content: "\e918";
}
.ak-Executor:before {
  content: "\e919";
}
.ak-Fighter:before {
  content: "\e91a";
}
.ak-Flinger:before {
  content: "\e91b";
}
.ak-Fortress:before {
  content: "\e91c";
}
.ak-Geek:before {
  content: "\e91d";
}
.ak-Guard:before {
  content: "\e91e";
}
.ak-Guardian:before {
  content: "\e91f";
}
.ak-Heavyshooter:before {
  content: "\e920";
}
.ak-Hexer:before {
  content: "\e921";
}
.ak-Hookmaster:before {
  content: "\e922";
}
.ak-Hunter:before {
  content: "\e923";
}
.ak-Incantation:before {
  content: "\e924";
}
.ak-Instructor:before {
  content: "\e925";
}
.ak-Juggernaut:before {
  content: "\e926";
}
.ak-Liberator:before {
  content: "\e927";
}
.ak-Loopshooter:before {
  content: "\e928";
}
.ak-Lord:before {
  content: "\e929";
}
.ak-Marksman:before {
  content: "\e92a";
}
.ak-Mech-Accord:before {
  content: "\e92b";
}
.ak-Medic:before {
  content: "\e92c";
}
.ak-Merchant:before {
  content: "\e92d";
}
.ak-Multi-target:before {
  content: "\e92e";
}
.ak-Mystic:before {
  content: "\e92f";
}
.ak-Phalanx:before {
  content: "\e930";
}
.ak-Physician:before {
  content: "\e931";
}
.ak-Pioneer:before {
  content: "\e932";
}
.ak-Primal:before {
  content: "\e933";
}
.ak-Primal-Fighter:before {
  content: "\e934";
}
.ak-Primal-Protector:before {
  content: "\e935";
}
.ak-Protector:before {
  content: "\e936";
}
.ak-Push-Stroker:before {
  content: "\e937";
}
.ak-Reaper:before {
  content: "\e938";
}
.ak-Ritualist:before {
  content: "\e939";
}
.ak-Sentry-Protector:before {
  content: "\e93a";
}
.ak-Shaper:before {
  content: "\e93b";
}
.ak-Skyranger:before {
  content: "\e93c";
}
.ak-Sniper:before {
  content: "\e93d";
}
.ak-Soloblade:before {
  content: "\e93e";
}
.ak-Specialist:before {
  content: "\e93f";
}
.ak-Splash:before {
  content: "\e940";
}
.ak-Spreadshooter:before {
  content: "\e941";
}
.ak-Standard-Bearer:before {
  content: "\e942";
}
.ak-Summoner:before {
  content: "\e943";
}
.ak-Supporter:before {
  content: "\e944";
}
.ak-Swordmaster:before {
  content: "\e945";
}
.ak-Tactician:before {
  content: "\e946";
}
.ak-Therapist:before {
  content: "\e947";
}
.ak-Trapmaster:before {
  content: "\e948";
}
.ak-Vanguard:before {
  content: "\e949";
}
.ak-Wandering:before {
  content: "\e94a";
}