@font-face {
  font-family: 'ak-class-icons';
  src:  url('400/ak-class-icons-regular.eot');
  src:  url('400/ak-class-icons-regular.eot') format('embedded-opentype'),
    url('400/ak-class-icons-regular.ttf') format('truetype'),
    url('400/ak-class-icons-regular.woff') format('woff'),
    url('400/ak-class-icons-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ak-class-icons';
  src:  url('600/ak-class-icons-solid.eot');
  src:  url('600/ak-class-icons-solid.eot') format('embedded-opentype'),
    url('600/ak-class-icons-solid.ttf') format('truetype'),
    url('600/ak-class-icons-solid.woff') format('woff'),
    url('600/ak-class-icons-solid.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

.ak {
  /* use !important to prevent issues with browser extensions that change font */
  font-family: 'ak-class-icons' !important;
  speak: never;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ak-solid {
  font-weight: bold !important;
}
.ak-regular {
  font-weight: normal !important;
}

.ak-abjurer:before {
  content: "\e900";
}
.ak-agent:before {
  content: "\e901";
}
.ak-alchemist:before {
  content: "\e902";
}
.ak-ambusher:before {
  content: "\e903";
}
.ak-artificer:before {
  content: "\e904";
}
.ak-artilleryman:before {
  content: "\e905";
}
.ak-arts-fighter:before {
  content: "\e906";
}
.ak-arts-protector:before {
  content: "\e907";
}
.ak-bard:before {
  content: "\e908";
}
.ak-besieger:before {
  content: "\e909";
}
.ak-blast:before {
  content: "\e90a";
}
.ak-caster:before {
  content: "\e90b";
}
.ak-centurion:before {
  content: "\e90c";
}
.ak-chain:before {
  content: "\e90d";
}
.ak-chain-healer:before {
  content: "\e90e";
}
.ak-charger:before {
  content: "\e90f";
}
.ak-core:before {
  content: "\e910";
}
.ak-crusher:before {
  content: "\e911";
}
.ak-deadeye:before {
  content: "\e912";
}
.ak-decel-binder:before {
  content: "\e913";
}
.ak-defender:before {
  content: "\e914";
}
.ak-dollkeeper:before {
  content: "\e915";
}
.ak-dreadnought:before {
  content: "\e916";
}
.ak-duelist:before {
  content: "\e917";
}
.ak-earthshaker:before {
  content: "\e918";
}
.ak-executor:before {
  content: "\e919";
}
.ak-fighter:before {
  content: "\e91a";
}
.ak-flinger:before {
  content: "\e91b";
}
.ak-fortress:before {
  content: "\e91c";
}
.ak-geek:before {
  content: "\e91d";
}
.ak-guard:before {
  content: "\e91e";
}
.ak-guardian:before {
  content: "\e91f";
}
.ak-heavyshooter:before {
  content: "\e920";
}
.ak-hexer:before {
  content: "\e921";
}
.ak-hookmaster:before {
  content: "\e922";
}
.ak-hunter:before {
  content: "\e923";
}
.ak-incantation:before {
  content: "\e924";
}
.ak-instructor:before {
  content: "\e925";
}
.ak-juggernaut:before {
  content: "\e926";
}
.ak-liberator:before {
  content: "\e927";
}
.ak-loopshooter:before {
  content: "\e928";
}
.ak-lord:before {
  content: "\e929";
}
.ak-marksman:before {
  content: "\e92a";
}
.ak-mech-accord:before {
  content: "\e92b";
}
.ak-medic:before {
  content: "\e92c";
}
.ak-merchant:before {
  content: "\e92d";
}
.ak-multi-target:before {
  content: "\e92e";
}
.ak-mystic:before {
  content: "\e92f";
}
.ak-phalanx:before {
  content: "\e930";
}
.ak-physician:before {
  content: "\e931";
}
.ak-pioneer:before {
  content: "\e932";
}
.ak-primal:before {
  content: "\e933";
}
.ak-primal-fighter:before {
  content: "\e934";
}
.ak-primal-protector:before {
  content: "\e935";
}
.ak-protector:before {
  content: "\e936";
}
.ak-push-stroker:before {
  content: "\e937";
}
.ak-reaper:before {
  content: "\e938";
}
.ak-ritualist:before {
  content: "\e939";
}
.ak-sentry-protector:before {
  content: "\e93a";
}
.ak-shaper:before {
  content: "\e93b";
}
.ak-skyranger:before {
  content: "\e93c";
}
.ak-sniper:before {
  content: "\e93d";
}
.ak-soloblade:before {
  content: "\e93e";
}
.ak-specialist:before {
  content: "\e93f";
}
.ak-splash:before {
  content: "\e940";
}
.ak-spreadshooter:before {
  content: "\e941";
}
.ak-standard-bearer:before {
  content: "\e942";
}
.ak-summoner:before {
  content: "\e943";
}
.ak-supporter:before {
  content: "\e944";
}
.ak-swordmaster:before {
  content: "\e945";
}
.ak-tactician:before {
  content: "\e946";
}
.ak-therapist:before {
  content: "\e947";
}
.ak-trapmaster:before {
  content: "\e948";
}
.ak-vanguard:before {
  content: "\e949";
}
.ak-wandering:before {
  content: "\e94a";
}
.ak-strategist:before{
  content: "\e94b";
}